
$purple:   #4D3B87;
$orange: #EC580F;
$text:      #EFEFEF;


$theme-colors: (
  "purple":      $purple,
  "orange":    $orange,
  "text":         $text,
);

$spacer: 1.6rem !default;
$spacers: (
  0: 0,
  1: ($spacer * .25),     //4px
  2: ($spacer * .5),      //8px
  3: $spacer,             //16px
  4: ($spacer * 1.5),     //24px
  5: ($spacer * 2),       //32px modificado. era 48 
  6: ($spacer * 3),       //48px
  7: ($spacer * 4),       //64px
  8: ($spacer * 5),       //80px
  9: ($spacer * 6.25),    //100px
  10: ($spacer * 7.5),    //120px  
);

$font-size-base: 1.6rem;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 85%,
  xxl: 85%
);

@import "../../node_modules/bootstrap/scss/bootstrap";